<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h3>Lets create a new chat here ...</h3>
    <form method="POST" action="/chats">
        <input placeholder="Who is sending" name="from">
        <br><br>
        <textarea placeholder="Write your message here" name="msg" ></textarea>
        <br><br>
        <input placeholder="To whom sending" name="to">
        <br><br>
        <button>Create Post</button>
    </form>
</body>
</html>