<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new user</title>
</head>
<body>
    <h2>Add a user</h2>
    <form method="post" action="/user">
        <input placeholder="Type your id" name="id" type="text">
        <input placeholder="Type your username" name="username" type="text">
        <input placeholder="Enter email" name="email" type="text">
        <input placeholder="Enter password" name="password" type="password">
        <button>Submit user</button>
    </form>
</body>
</html>