<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This the home page</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident ab enim harum a odio recusandae earum ipsa consequatur neque explicabo. Tempore quam recusandae facilis dolorem doloribus sed, expedita esse, quia, odio est et sequi. Ex, nobis possimus laborum obcaecati pariatur odio sequi id ipsum nihil aliquam perferendis laudantium quidem adipisci.
    <h1>Welcome, <%= user.name %>!</h1>
</body>
</html>